<div class="row">
<div class="col-sm-6">
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{dish.image}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{dish.name}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <a href="#" class="btn btn-primary">Share</a>
                </div>
              </div>
</div>

<div class="col-sm-6">
  <h1>comments</h1>
  <h3>{{dish.comments[0].rating}}</h3>
    
    
</div>
  
</div>
